body {
  background-color: #f8f9fa;
}
.sidebar,
.offcanvas {
  max-width: 250px;
  min-height: 100vh;
  background: #0d6efd;
}
.sidebar .nav-link,
.offcanvas .nav-link {
  color: #fff;
  border-radius: 6px;
}
.sidebar .nav-link:hover,
.sidebar .nav-link.active,
.offcanvas .nav-link:hover,
.offcanvas .nav-link.active {
  background: rgba(255, 255, 255, 0.2);
}

/* .navbar {
  position: relative;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: .5rem;
} */

/* .prev-img-container {
  max-width: 500px;
  height: 300px;
} */
